<div class="container ">
  <div class="p-4"></div>
  <div class="row align-items-center">
    <div class="col-sm-9">
      <h3>
        List of admited patients
        <small class="text-muted">Covid-19 departament</small>
      </h3>
    </div>
    <div class="col-3">
      <form class="d-flex">
        <input class="form-control custom-input" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary custom-button" type="submit">Search</button>
      </form>
    </div>
  </div>
  <div class="p-2"></div>
  <ul *ngFor="let patient of patientList | paginate: { itemsPerPage: 20, currentPage: p }" class=" list-group ">
    <li class="list-group-item d-flex justify-content-between">
      Patient Id:{{patient.Id}} {{patient.Details}}
      <span></span>
      <span></span>
      <span class="badge rounded-pill {{colorMap[patient.Outcome]}}" style="font-family: Arial, Helvetica, sans-serif;">{{release[patient.Outcome]}}</span>
      <span type="button" (click)="loadPatientId(patient.Id)" routerLink="/patient/{{patient.Id}}" class="btn badge rounded-pill bg-secondary" style="font-family: Arial, Helvetica, sans-serif;" >view</span>
    </li>
  </ul>
  <div class="p-2"></div>
  <pagination-controls class="pagination-select pagination" (pageChange)="p = $event"></pagination-controls>
</div>

