.listMargin{
  margin : 5px;
}

table {
  width: 100%;
}

.custom-button {
  border-radius: 0px 20px 20px 0px;
}

.custom-input {
  border-radius: 20px 0px 0px 20px;
}

.float-right {
  float: right;
}

::ng-deep ul > li.current {
  background-color: var(--button-theme) !important;
}
